#banner {
	background: url("/images/worldmap.jpg") no-repeat fixed;
	background-size: contain;
	opacity: 0.5;
	background-color: transparent;
}

.banner {
	margin: 200px 0px 0px 0px;
	text-align: center;
	height: 400px;
	color: #1f356f;
}

h1 {
	line-height: normal;
	font-size: 55px;
	font-weight: 800
}

