#body-container1 {
	margin-bottom: 150px;
	width: 80%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#body-container2 {
	margin-bottom: 150px;
	width: 60%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}